{% macro icon(name, title, classes="") %}
<svg class="feather {{classes}}" aria-label="{{title}}">
  <title>{{title}}</title>
  <use xlink:href="/fonticons/feather.svg#{{name}}"/>
</svg>
{% endmacro icon %}

{% macro badges(path) %}
{% set data = load_data(path=path) %}
{% for badge in data.badges %}
<a href="{{badge.link | safe}}">
  <img loading="lazy" src="{{badge.image | safe}}" alt="{{badge.alt}}"/></a>
{% endfor %}
{% endmacro badges %}


{% macro gentoc(headers) %}
{% for header in headers %}
<li> <a href="{{header.permalink | safe}}">{{header.title}}</a>
  {% if header.children %}
  <ul>
    {{ self::gentoc(headers=header.children) }}
  </ul>
  {% endif %}
</li>
{% endfor %}
{% endmacro gentoc %}
