{% extends "base.html" %}


{% block extra_headers %}
{% if config.extra.bsky_did and page.extra.bsky_rkey %}
<script src="/js/comments.js"></script>
{% endif %}
{% endblock extra_headers %}


{% block content %}
<h1 class="page-title">{{page.title}}</h1>
<span class=date>{{page.date}}</span>
<hr/>
<article id="page">
  {{page.content | safe}}
</article>

{% if config.extra.bsky_did and page.extra.bsky_rkey %}
<hr/>
<div id="comments">
<a id="load-comments"
   href="https://bsky.app/profile/{{config.extra.bsky_did}}/{{page.extra.bsky_rkey}}"
   data-atref="at://{{config.extra.bsky_did}}/app.bsky.feed.post/{{page.extra.bsky_rkey}}"
   target="_blank">
  {{macros::icon(name="message-square", title="See Comments",
  classes="show-comments")}}
  See Comments
</a>
</div>
{% endif %}

{% endblock content %}
