{% extends "base.html" %}


{% block extra_headers %}
<meta property="og:title" content="{{page.title}}" />
<meta property="og:description" content="{{page.description}}" />
<meta property="og:site_name" content="{{config.title}}" />
<meta property="og:type" content="article" />
<meta property="og:image" content="{{config.base_url}}/images/ptnote.png" />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:width" content="88" />
<meta property="og:image:height" content="31" />
<meta property="og:image:alt" content="PT_NOTE" />
{% if config.extra.bsky_did and page.extra.bsky_rkey %}
<script src="/js/comments.js"></script>
{% endif %}
{% endblock extra_headers %}


{% block content %}
<header>
  <h1 class="page-title">{{page.title}}</h1>
  <div class="page-desc">{{page.description}}</div>
  <time datetime="{{page.date}}" class="date">{{page.date}}</span>
</header>
<hr/>
<main id="page">
  {{page.content | safe}}
</main>

{% if config.extra.bsky_did and page.extra.bsky_rkey %}
<hr/>
<div id="comments">
<a id="load-comments"
   href="https://bsky.app/profile/{{config.extra.bsky_did}}/{{page.extra.bsky_rkey}}"
   data-atref="at://{{config.extra.bsky_did}}/app.bsky.feed.post/{{page.extra.bsky_rkey}}"
   target="_blank">
  {{macros::icon(name="message-square", title="See Comments",
  classes="show-comments")}}
  See Comments
</a>
</div>
{% endif %}

{% endblock content %}
