{% extends "base.html" %}


{% block extra_headers %}
<meta property="og:title" content="{{page.title}}" />
<meta property="og:description" content="{{page.description}}" />
<meta property="og:site_name" content="{{config.title}}" />
<meta property="og:type" content="article" />
{% endblock extra_headers %}


{% block content %}
<header>
  <h1 class="page-title">{{page.title}}</h1>
  <div class="page-desc">{{page.description}}</div>
  <time datetime="{{page.date}}" class="date">{{page.date}}</span>
</header>
{% if page.toc %}
<ul class="toc">
  {{macros::gentoc(headers=page.toc)}}
</ul>
{% endif %}
<hr/>
<main id="page">
  {{page.content | safe}}
</main>
{% endblock content %}
